<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <style>
        body{
            background-color: black;
            background-repeat : no-repeat;
            background-size : 1300px;
        }
        form {
                    position : absolute;
        left:50%;
        top:40%;
        transform:translate(-50%,-50%);

        }

        h1 {
        font-size : 110px;

        }
    </style>
</head>
<body>

    <form action="/graphpage" method="get">
        <h1 class="title" style="color:white" >Seoul Safty Info</h1>
    <input type="checkbox" id = 'crime' name="chk" value="crime">
        <label for="crime" style="color:white">5대범죄발생</label>
    <input type="checkbox" id = 'arrest' name="chk" value="arrest" >
        <label for="arrest" style="color:white">5대범죄검거</label>
    <input type="checkbox" id = 'living' name="chk" value="living">
        <label for="living" style="color:white">주거환경요인</label>
    <input type="checkbox" id="population" name="chk" value="population">
        <label for="population" style="color:white">인구학적요인</label>
    <input type="checkbox" id="society" name="chk" value="society">
        <label for="society" style="color:white">사회경제적요인</label>
    <input type="checkbox" id="safety" name="chk" value="safety">
        <label for="safety" style="color:white">치안환경요인</label>
            <input type="checkbox" id="final" name="chk" value="final">
        <label for="final" style="color:white">최종순위</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>Search</button>
    </form>




</body>
</html>