<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <style>
        body{
            background-color: black;
            background-repeat : no-repeat;
            background-size : 1300px;
        }
        form {
          font
          position : relative;
          left:40%

        }
    </style>
</head>
<body>

    <form action="/graphpage" method="get">
        <h1 class="title" style="color:white" >Seoul Safty Info</h1>
   <input type="checkbox" id = 'crime' name="chk" value="crime">
        <label for="crime" style="color:white">5대범죄발생</label>

   <input type="checkbox" id = 'single' name="chk" value="single">
        <label for="single" style="color:white">여성1인가구</label>
    <input type="checkbox" id="living" name="chk" value="living">
        <label for="living" style="color:white">생활인구</label>
    <input type="checkbox" id="kara" name="chk" value="kara">
        <label for="kara" style="color:white">유흥업소</label>
    <button>Search</button>
    </form>




</body>
</html>