<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <style>
        body{
            background-color: black;
            background-repeat : no-repeat;
            background-size : 1300px;
        }
        form {
          font
          position : relative;
          left:40%

        }
    </style>
</head>
<body>

    <form action="/graphpage" method="get">
        <h1 class="title" style="color:white" >Seoul Safty Info</h1>

    <input type="checkbox" id = '여성1인가구' name="chk" value="여성1인가구">
        <label for="여성1인가구" style="color:white">여성1인가구</label>
    <input type="checkbox" id="CCTV" name="chk" value="CCTV">
        <label for="CCTV" style="color:white">CCTV</label>
    <button>Search</button>
    </form>
    <img src="living.png"
         style="float:right;
                margin-right:500px;
                width:1500px;
                height:1200px">

</body>
</html>